

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
body{
    background-color: #F1F1F3;
}

/* nav styles */

nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 0px 160px;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.btn-color{
    color: #006A50;
    border-color: #006A50;
    border-radius: 8px;
    background-color: #F5F5F5;
}

/* banner style */

.banner-start{
    font-weight: lighter ;
    font-size: 24px;

}

.banner-description{
    font-weight: bold;
    font-size: 56px;
}

.btn-2{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 8px;
    margin-bottom: 80px;
}

.banner{
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
}

.banner-picture{
    width: 474px;
    padding-right: 50px;
    margin-bottom: 80px;

}

.banner-content{
   max-width: 622px;
   padding-left: 50px;
}

/* banner2 style */
.banner2{
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;

}

.pilla{
    font-weight: bold;
    font-size: 40;
}

.banner21{
    display: flex;
    margin-right: 160px;
    
}

.inno-t{
    font-weight: bold;
    font-size: 20ox;
}

.inno-tt{
    font-weight: 500;
    font-size: 16px;

}

.inno-pic{
    padding-top: 24px;
    padding-bottom: 24px;
}

.inno{
    padding-left: 24px;
    padding-right: 24px;
    max-width: 302px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-right: 24px;
}

.sustain{
    padding-left: 24px;
    padding-right: 24px;
    max-width: 302px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-right: 24px;
}

.infra{
    padding-left: 24px;
    padding-right: 24px;
    max-width: 302px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-right: 24px;
}

.empower{
    padding-left: 24px;
    padding-right: 24px;
    max-width: 302px;
    background-color: #FFFFFF;
    border-radius: 16px;
    
}

/* banner3 styles */

.banner3{
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;
}

.banner3-card{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner3-vision{
    font-weight: bold;
    font-size: 40px;
}

.banner3-bd{
    font-weight: 300;
    font-size: 16px;

}

.img-digit{
    padding-top: 32px;
    padding-bottom: 24px;
}

.p-create{
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 16;
}

.p-createe {
    padding-bottom: auto;
    font-weight: 300;
    font-size: 16;
}

.p-digit{

    font-weight: bold;
    font-size: 20px;


}

.banner3-digit{
   background-color: #74a3f5;
   border-radius: 16px;
   width: 410.67px;
   margin-right: 24px;
   padding-left: 32px;
   padding-right: 32px;

}

.banner3-green{
    background-color: #C6E4D6;
    border-radius: 16px;
    width: 410.67px;
    margin-right: 24px;
    padding-left: 32px;
   padding-right: 32px;
}

.banner3-modern{
    background-color:#F7EBCF;
    border-radius: 16px;
    width: 410.67px;
    padding-left: 32px;
   padding-right: 32px;
}

.banner3-btn1{
    background-color: #5490F5;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 8px;
    border-style:solid;
    border-color: #5490F5;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 32px;

}

.banner3-btn2{
    background-color:#09A15C;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 8px;
    border-style:solid;
    border-color: #09A15C;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 32px;

}

.banner3-btn3{
    background-color:#FFC239;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 8px;
    border-style:solid;
    border-color: #FFC239;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 32px;


}

.banner3-quote{
    background-color: #FFFFFF;
    border-radius:16px;
    padding-left: 24px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    

    

}

.banner3-quo-p{
    font-weight: 500px;
    font-size:  16px;
    padding-bottom: 12px;
   
    


}

.banner3-quotitle-p{

    font-weight: bold;
    font-size: 24px;
    margin:0px;
    padding: 0px;
}

.banner3-quosub-p{
    font-weight: 400px;
    font-size: 16px;
    padding-top: 0%;
    margin-top: 0%;
    
}

 /* Recent News  */

 .recent-news-card{
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;

 }

 .recent-news-card1{
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
    margin-top: 32px;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
    

 }

.recent-news-image-1{
    padding-right: 32px;
    border-radius: 24px;
    padding-top: 48px;
}

 .recent-news-title{
    font-weight: bold;
    font-size: 40px;
    padding-top: 48px;
 }

 .recent-news-para{
    font-weight: 300;
    font-size: 16px;
 }

 .recent-news-writing-1{
    font-weight: bold;
    font-size: 32px;
    margin-top: 48px;
    

 }

.recent-news-date{
    font-weight: 300;
    font-size: 16px;

 }

 .recent-news-time{
    font-weight: 300;
    font-size: 16px;
 }

 .recent-news-para-1{
    font-weight: 300;
    font-size: 16px;
 }

.recent-news-btn{
    font-weight: 700;
    font-size: 18px;
    margin-top: 32px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;

}

.date-time-separator{
    display: flex;
    
}

.recent-news-time{
    margin-left: 12px;
}


 /* Donation  */

 .donation-title{
    font-weight:bold;
    font-size: 40px;
    text-align: center;
 }

 .donation-para{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
 }

 .donation-box1{
    font-weight: bold;
    font-size: 40;
 }